<%- include('partial/header') %>

<div class="w-full h-screen flex items-center justify-center bg-zinc-900">
  <div class="chessboard w-96 h-96 bg-red-700"></div>
</div>
 
<%- include('partial/footer') %>

